body {
    margin: 0;
    padding: 0;
    background-color: transparent;
}
#red, #blue, #yellow, #green {
    margin: 0;
    padding: 0;
    border-style: solid;
    border-width: thick;
    border-color: transparent;
    
}
html {
    background-color: transparent;
}
img {
    padding: 0;
    margin: 0;
    color: black;
    background-color: transparent;
    width: 50%;
    height: 50%;
}
button {
    padding: 0;
    margin: 0;
}
div {
    margin: 0;
    padding: 0;
}